distribute
etc/vim/.netrwhist
etc/vim/.VimballRecord
etc/.bashrc.un~
etc/.gitignore.un~
etc/vim/.vimrc.un~
.README.markdown.un~
etc/vim/bundle/ack.vim/
etc/vim/bundle/ctrlp.vim/
etc/vim/bundle/nerdcommenter/
etc/vim/bundle/nerdtree/
etc/vim/bundle/supertab/
etc/vim/bundle/vim-fugitive/
etc/vim/bundle/vim-rails/
etc/vim/bundle/vim-rake/
etc/vim/bundle/vim-ruby/
etc/vim/bundle/vim-sensible/
etc/vim/bundle/vundle/